@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'IRANSans';
    src: url(/public/fonts/IRANSansLight.woff) format('woff');
  
  }

@layer base {
    *{
        scroll-behavior: smooth;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: IRANSans;
    }
}